<!-- Modal -->
<div class="modal fade" id="EditGoal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Goal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <form action="/updategoal" method="POST">
            
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Goal" name="Goal" value="{{user.Goals}}">
            </div>
            <div class="form-group">  
                <button class="btn btn-success btn-block">Save</button>
            </div>
        </form>

      </div>
    </div>
  </div>
</div>