<div id="footerDivider" class="pt-3">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-12">
              <p>Copyright © 2022 Ing. Ivan Reyes Ortega</p>
          </div>
      </div>
  </div>
</div>